h1 {
  text-align: center;
  font-size: 6rem;
  font-family: 'Cookie', cursive;
  padding: 20px;
  margin: 15px;
  z-index: 1;
}

.section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

video {
  min-width: 100%;
  min-height: 100%;
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: wheat;
  width: 100%;
  height: 100vh;
  opacity: 0.2;
}

.swiper-container {
  width: 100%;
  height: 500px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

p {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 800px;
}

.image {
  width: 100%;
  height: 400px;
  margin-bottom: 15px;
  background-image: url('../images/Ingredientes.jpg');
  background-size: cover;
}

img {
  max-width: 300px;
}
