body {
  background: white;
  margin: 0;
  padding: 0;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border: 3px solid white;
  animation: animate 2s linear infinite;
  z-index: 9001;
}

.loader:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  animation: animateBg 2s linear infinite;
}

.loader.complete {
  visibility: hidden;
  z-index: -9001;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  25% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  75% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes animateBg {
  0% {
    height: 0;
  }
  25% {
    height: 0;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //background: #000;
  transition: 1s;
  z-index: 9000;
}

.preloader:before {
  content: '';
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background: #000;
  transition: 1s;
}

.preloader:after {
  content: '';
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background: #000;
  transition: 1s;
}

.preloader.complete:before {
  left: -50%;
  background: transparent;
}

.preloader.complete:after {
  right: -50%;
  background: transparent;
}

.preloader.complete {
  visibility: hidden;
}


a:hover {
  //text-decoration: none !important;
}

h1 {
  font-size: 5rem;
  font-family: 'Dancing Script', bold;
  color: black;
  z-index: 1;
}

ul {
  list-style-type:none;
  padding: 0;
}

.title {
  text-align: center;
  padding: 20px;
  margin: 15px;
}

h2 {
  font-size: 5rem;
  text-align: center;
  font-family: 'Dancing Script', bold;
  color: black;
  padding-bottom: 120px;
}

.slogan {
  color: white;
  padding: 140px 0;
  margin: 0;
}

.white {
  color: white;
  opacity: 0.9;
}

.main-logo {
  max-width: 20rem;
  opacity: 0.9;
}

.header-page {
  padding-top: 70px;
  position: absolute;
  text-align: center;
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-decoration: none;
    margin: 5px 2px;
    z-index: 2;
    color: white;
  }

  .fa-facebook:hover {
    color: #3b5998;
    transition: 0.2s;
  }

  .fa-tripadvisor:hover {
    color: #00af87;
  }

  .fa-map-marker:hover {
    color: #FE7569;
  }

  .fa-phone:hover {
    color: #fd7e14;
  }

  .fa-envelope:hover {
    color: #4c6ef5;
  }
}

.section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#Nosotros, #Carta, #Equipo {
  padding-bottom: 120px;
}

#Carta {
  .menu-title {
    font-size: 20px;
    text-align: left;
    padding: 0;
    margin-bottom: 70px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
  }
  h3 {
    font-size: 20px;
  }
  .row {
    margin-bottom: 100px;
  }
  .img-cont {
    display: block;
    position: absolute;
    height: 200px;
  }
  .info-cont {
    display: block;
    margin-left: 150px;
    position: absolute;
    height: 200px;
  }
  li {
    margin-bottom: 40px;
    vertical-align: text-top;
    height: 110px;
  }
  p {
    font-size: 13px;
  }
  .split-para {
    display: block;
    margin: 10px 10px 10px 0;
    span {
      display: block;
      float: right;
      width: 50%;
      margin-left: 10px;
      margin-right: 10px;
      text-align: right;
    }
  }
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

video {
  min-width: 100%;
  min-height: 100%;
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

.navbar-toggler-icon {
  color: white;
  opacity: 1 !important;
}

.navbar-dark {
    background: linear-gradient(black 0%, transparent 100%) !important;
}

.navbar-toggler {
  border: 0px;
}

.navbar-toggler-icon {
  opacity: 1;
  color: white;
  z-index: 2;
}

/* change the brand and text color */
.navbar-dark .navbar-brand,
.navbar-custom .navbar-text {
    font-family: 'Dancing Script', bold;
    font-size: 2.5rem;
    color: rgba(255,255,255,.9);
}
/* change the link color */
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.9);
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    padding: 30px 20px;
}
/* change the color of active or hovered links */
.navbar-dark .nav-item.active .nav-link,
.navbar-dark .nav-item:hover .nav-link {
    color: #ffffff;
}

p {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

.image {
  width: 100%;
  height: 400px;
  margin-bottom: 15px;
  background-image: url('../images/Ingredientes.jpg');
  background-size: cover;
}

.main-brand {
  max-height: 6rem;
  opacity: 0.9;
  padding: 0 20px;
}

.brand {
  max-height: 3rem;
  opacity: 0.9;
}

.brand:hover {
  opacity: 1;
}

.nosotros-img {
  border-radius: 50%;
  border-width: thick;
  border-style: double;
  border-color: black;
}

.section-container {
  padding-top: 120px;
}

p.bold {
  font-weight: bold;
}

.contact-title {
  margin-bottom: 60px;
  color: white;
}

.parallax-window {
    background: transparent;
}


#Nosotros, #Opiniones {
  .col-md-6 {
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    text-align: center;
    .autor {
      margin: 0;
      color: white;
      font-family: 'Cantarell', sans-serif;
      //text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 19px;
      opacity: 0.9;
    }
  }
}

.speechbubble {
  p {
    margin: 0;
  }
  position: relative;
  background: rgba(255, 255, 255, 0.72);
  padding: 30px;

  width: 70%;
  border-radius: 10px;
}

.speechbubble::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -12px;
  left: 50%;
  margin-left: -12px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid rgba(255,255,255,0.72);
}

.profilepic {
  padding: 30px 0;
  border-radius: 50%;
  opacity: 0.9;
}

.container2 {
  max-width: 1200px;
  margin: 0 auto
}

#Equipo {
  text-align: center;
  img {
    border: 10px solid lightgrey;
    border-radius: 50%;
    transition: transform .5s;
    margin-bottom: 40px;
  }
  img:hover {
    transform: scale(1.2);
  }
  h3 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
  }
  h4 {
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    margin-bottom: 30px;
  }
  p {
    font-family: "Droid Serif", Georgia, serif;
    font-size: 14px;
    margin-bottom: 50px;
  }
}

.staff {
  width: 300px;
}

#Takeaway:hover {
  display: block;
  background-color: rgba(255, 255, 255, 0.3);
}

.tz-gallery {
  margin-bottom: 120px;
  padding: 0;
}

#Galeria {
  .lightbox:after {
    background-color: rgba(204,173,82, 0.6) !important;
  }
}

footer {
  padding-top: 60px;
  background-color: #202020;
  p {
    color: white;
  }
  .contact-section {
    display: block;
    margin-bottom: 8px;
    i {
      display: inline;
      color: white;
    }
    p {
      display: inline;
      margin-left: 10px;
    }
  }
  .social-row {
    margin-top: 30px;
    //margin-bottom: 60px;
    //display: inline;
    text-align: center;
  }
  .map-title {
    margin-top: 40px;
  }
  li {
    color: white;
  }
  .split-para {
    display: block;
    margin: 10px;
    span {
      display: block;
      float: right;
      width: 50%;
      margin-left: 10px;
      margin-right: 40px;
      text-align: right;
    }
  }
  .social {
    //text-align: center;
    font-size: 40px;
    .fa-instagram {
      color: white;
    }
    .fa-facebook {
      color: white;
    }
    .fa-tripadvisor {
      color: white;
    }
  }
}

.under-footer {
  padding: 40px 0;
  background-color: #090909;
  img {
    height: 30px;
    vertical-align: middle;
  }
  .split-para {
    display: block;
    margin: 10px;
    span {
      color: lightgrey;
      display: block;
      float: right;
      width: 50%;
      margin-right: 10px;
      text-align: right;
    }
  }
}


// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  h2 {
    font-size: 4.8rem;
  }
  .brand {
    max-height: 2.8rem;
  }
  .main-logo {
    max-width: 19rem;
  }
  .main-brand {
    max-height: 5.8rem;
  }
  .navbar-nav .nav-link {
    padding: 15px 10px !important;
  }
  .header-page {
    .fa {
      font-size: 27px;
      width: 65px;
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  h2 {
    font-size: 4.6rem;
  }
  .brand {
    max-height: 2.6rem;
  }
  .main-logo {
    max-width: 18rem;
  }
  .main-brand {
    max-height: 5.6rem;
  }
  .col-md-6 {
    padding-bottom: 60px;
  }
  .map-col {
    padding-bottom: 0;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  h2 {
    font-size: 4.4rem;
  }
  .brand {
    max-height: 2.4rem;
  }
  .main-logo {
    max-width: 17rem;
  }
  .main-brand {
    max-height: 5.4rem;
  }
  .header-page {
    .fa {
      font-size: 25px;
      width: 60px;
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  h2 {
    font-size: 4.2rem;
  }
  .brand {
    max-height: 2.2rem;
  }
  .main-logo {
    max-width: 16rem;
  }
  .main-brand {
    max-height: 5.2rem;
  }
  .under-footer {
    img {
     height: 25px;
   }
  }
}
