a:hover {
  text-decoration: none !important; }

h1 {
  font-size: 5rem;
  font-family: 'Dancing Script', bold;
  color: black;
  z-index: 1; }

ul {
  list-style-type: none;
  padding: 0; }

.title {
  text-align: center;
  padding: 20px;
  margin: 15px; }

h2 {
  font-size: 5rem;
  text-align: center;
  font-family: 'Dancing Script', bold;
  color: black;
  padding-bottom: 120px; }

.slogan {
  color: white;
  padding: 140px 0;
  margin: 0; }

.white {
  color: white;
  opacity: 0.9; }

.main-logo {
  max-width: 20rem;
  opacity: 0.9; }

.header-page {
  padding-top: 70px;
  position: absolute;
  text-align: center; }
  .header-page .fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-decoration: none;
    margin: 5px 2px;
    z-index: 2;
    color: white; }
  .header-page .fa-tripadvisor:hover {
    color: #00af87; }
  .header-page .fa-map-marker:hover {
    color: #FE7569; }
  .header-page .fa-phone:hover {
    color: #fd7e14; }
  .header-page .fa-envelope:hover {
    color: #4c6ef5; }

.section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; }

#Nosotros, #Carta, #Equipo {
  padding-bottom: 120px; }

#Carta .menu-title {
  font-size: 20px;
  text-align: left;
  padding: 0;
  margin-bottom: 70px;
  font-family: 'Lato', sans-serif;
  font-weight: bold; }
#Carta h3 {
  font-size: 20px; }
#Carta .row {
  margin-bottom: 100px; }
#Carta .img-cont {
  display: block;
  position: absolute;
  height: 200px; }
#Carta .info-cont {
  display: block;
  margin-left: 150px;
  position: absolute;
  height: 200px; }
#Carta li {
  margin-bottom: 40px;
  vertical-align: text-top;
  height: 110px; }
#Carta p {
  font-size: 13px; }
#Carta .split-para {
  display: block;
  margin: 10px 10px 10px 0; }
  #Carta .split-para span {
    display: block;
    float: right;
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
    text-align: right; }

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1; }

video {
  min-width: 100%;
  min-height: 100%; }

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.2; }

.navbar-toggler-icon {
  color: white;
  opacity: 1 !important; }

.navbar-dark {
  background: linear-gradient(black 0%, transparent 100%) !important; }

.navbar-toggler {
  border: 0px; }

.navbar-toggler-icon {
  opacity: 1;
  color: white;
  z-index: 2; }

/* change the brand and text color */
.navbar-dark .navbar-brand,
.navbar-custom .navbar-text {
  font-family: 'Dancing Script', bold;
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.9); }

/* change the link color */
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  padding: 30px 20px; }

/* change the color of active or hovered links */
.navbar-dark .nav-item.active .nav-link,
.navbar-dark .nav-item:hover .nav-link {
  color: #ffffff; }

p {
  width: 100%;
  font-family: 'Open Sans', sans-serif; }

.image {
  width: 100%;
  height: 400px;
  margin-bottom: 15px;
  background-image: url("../images/Ingredientes.jpg");
  background-size: cover; }

.main-brand {
  max-height: 6rem;
  opacity: 0.9;
  padding: 0 20px; }

.brand {
  max-height: 3rem;
  opacity: 0.9; }

.brand:hover {
  opacity: 1; }

.nosotros-img {
  border-radius: 50%;
  border-width: thick;
  border-style: double;
  border-color: black; }

.section-container {
  padding-top: 120px; }

p.bold {
  font-weight: bold; }

.contact-title {
  margin-bottom: 60px;
  color: white; }

.parallax-window {
  background: transparent; }

#Nosotros .col-md-6, #Opiniones .col-md-6 {
  margin-bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  text-align: center; }
  #Nosotros .col-md-6 .autor, #Opiniones .col-md-6 .autor {
    margin: 0;
    color: white;
    font-family: 'Cantarell', sans-serif;
    letter-spacing: 1px;
    font-size: 19px;
    opacity: 0.9; }

.speechbubble {
  position: relative;
  background: rgba(255, 255, 255, 0.72);
  padding: 30px;
  width: 70%;
  border-radius: 10px; }
  .speechbubble p {
    margin: 0; }

.speechbubble::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -12px;
  left: 50%;
  margin-left: -12px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid rgba(255, 255, 255, 0.72); }

.profilepic {
  padding: 30px 0;
  border-radius: 50%;
  opacity: 0.9; }

.container2 {
  max-width: 1200px;
  margin: 0 auto; }

#Equipo {
  text-align: center; }
  #Equipo img {
    border: 10px solid lightgrey;
    border-radius: 50%;
    transition: transform .5s;
    margin-bottom: 40px; }
  #Equipo img:hover {
    transform: scale(1.2); }
  #Equipo h3 {
    font-family: 'Lato', sans-serif;
    font-size: 20px; }
  #Equipo h4 {
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    margin-bottom: 30px; }
  #Equipo p {
    font-family: "Droid Serif", Georgia, serif;
    font-size: 14px;
    margin-bottom: 50px; }

.staff {
  width: 300px; }

#Takeaway:hover {
  display: block;
  background-color: rgba(255, 255, 255, 0.3); }

.tz-gallery {
  margin-bottom: 120px;
  padding: 0; }

#Galeria .lightbox:after {
  background-color: rgba(204, 173, 82, 0.6) !important; }

footer {
  padding-top: 60px;
  background-color: #202020; }
  footer p {
    color: white; }
  footer .contact-section {
    display: block;
    margin-bottom: 8px; }
    footer .contact-section i {
      display: inline;
      color: white; }
    footer .contact-section p {
      display: inline;
      margin-left: 10px; }
  footer .social-row {
    margin-top: 30px;
    text-align: center; }
  footer .map-title {
    margin-top: 40px; }
  footer li {
    color: white; }
  footer .split-para {
    display: block;
    margin: 10px; }
    footer .split-para span {
      display: block;
      float: right;
      width: 50%;
      margin-left: 10px;
      margin-right: 40px;
      text-align: right; }
  footer .social {
    font-size: 40px; }
    footer .social .fa-instagram {
      color: white; }
    footer .social .fa-facebook {
      color: white; }
    footer .social .fa-tripadvisor {
      color: white; }

.under-footer {
  padding: 40px 0;
  background-color: #090909; }
  .under-footer img {
    height: 30px;
    vertical-align: middle; }
  .under-footer .split-para {
    display: block;
    margin: 10px; }
    .under-footer .split-para span {
      color: lightgrey;
      display: block;
      float: right;
      width: 50%;
      margin-right: 10px;
      text-align: right; }

@media (max-width: 1199.98px) {
  h2 {
    font-size: 4.8rem; }

  .brand {
    max-height: 2.8rem; }

  .main-logo {
    max-width: 19rem; }

  .main-brand {
    max-height: 5.8rem; }

  .navbar-nav .nav-link {
    padding: 15px 10px !important; }

  .header-page .fa {
    font-size: 27px;
    width: 65px; } }
@media (max-width: 991.98px) {
  h2 {
    font-size: 4.6rem; }

  .brand {
    max-height: 2.6rem; }

  .main-logo {
    max-width: 18rem; }

  .main-brand {
    max-height: 5.6rem; }

  .col-md-6 {
    padding-bottom: 60px; }

  .map-col {
    padding-bottom: 0; } }
@media (max-width: 767.98px) {
  h2 {
    font-size: 4.4rem; }

  .brand {
    max-height: 2.4rem; }

  .main-logo {
    max-width: 17rem; }

  .main-brand {
    max-height: 5.4rem; }

  .header-page .fa {
    font-size: 25px;
    width: 60px; } }
@media (max-width: 575.98px) {
  h2 {
    font-size: 4.2rem; }

  .brand {
    max-height: 2.2rem; }

  .main-logo {
    max-width: 16rem; }

  .main-brand {
    max-height: 5.2rem; }

  .under-footer img {
    height: 25px; } }

/*# sourceMappingURL=styles.css.map */
